<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
    <h1>Pogoda</h1>
    <iframe width="700" height="800" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=wind&product=ecmwf&level=surface&lat=50.52&lon=21.882&detailLat=50.559&detailLon=21.882&detail=true&pressure=true&message=true" frameborder="0"></iframe>
    <hr>
    <img src="https://old.meteo.pl/um/metco/leg_um_pl_cbase_256.png">
    <img src="https://old.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2024110812&row=451&col=266&lang=pl">
    <br>
    <h3>Druga strefa</h3>
    <br>
    <img src="https://old.meteo.pl/um/metco/leg_um_pl_cbase_256.png">
    <img src="https://old.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2024110812&row=451&col=269&lang=pl">
    <hr>
    <h4>Burze</h4><br>
    <img src="https://images.lightningmaps.org/blitzortung/europe/index.php?map=poland">
    <br>
    <h4>Opady</h4>
    <img src="https://meteo.org.pl/img/ra.png"><br>

</body>
</html>