<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
    <h1>Pogoda</h1>
    <hr>
    <img src="https://old.meteo.pl/um/metco/leg_um_pl_cbase_256.png">
    <img src="https://old.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2024110812&row=451&col=266&lang=pl">
    <br>
    <h3>Druga strefa</h3>
    <br>
    <img src="https://old.meteo.pl/um/metco/leg_um_pl_cbase_256.png">
    <img src="https://old.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2024110812&row=451&col=269&lang=pl">
</body>
</html>